//================================
// @@ ++ Footer
//================================

footer {
  background-color: #000000;
}

.footer {
  color: #ffffff;
  padding: 35px 0;
  .footer--main {
    .footermain__item {
      height: 390px;
      padding: 25px;
      text-align: center;
      .footermain-item__icon {
        margin-bottom: 35px;
      }
      header {
        margin-bottom: 15px;
      }
      a {
        color: #ffffff;
      }
    }
    .contact--region {
      background: $red;
      a {
        &:hover {
          text-decoration: none;
          color: $pink;
        }
      }
    }
    .call-us--region {
      background: $pink;
    }
    .social--region {
      background: $blue-social;
    }
  }

  li {
    padding: 10px 0;
  }
  .mobilephone__desktop {
    display: block;
  }
  .mobilephone__mobile {
    display: none;
  }

}


.copyright {
    font-size: 12px;
    color: $grey;
    padding: 20px 0;
}

.mobilephone__desktop {
   margin: 15px 0;
 }
