//================================
// @@ ++ Footer
//================================
.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 15px 0;
  .footer--main {
    .footermain__item {
      height: 370px;
      padding: 25px;
      text-align: center;
      .footermain-item__icon {
        margin-bottom: 35px;
      }
      header {
        margin-bottom: 15px;
      }
    }
    .contact--region {
      background: $red;
    }
    .call-us--region {
      background: $pink;
    }
    .social--region {
      background: $blue-social;
    }
  }
  a {
    color: $grey;
    &:hover {
      text-decoration: none;
      color: #ffffff;
    }
  }
  li {
    padding: 10px 0;
  }
  .mobilephone__each {
    margin: 15px 0;
  }
  .copyright {
    p {
      font-size: 12px;
    }
  }
}