//================================
// @@ ++ Footer
//================================
.footer {
  background-color: #000000;
  color: $grey;
  padding: 15px 0;
  a {
    color: $grey;
    &:hover {
      text-decoration: none;
      color: #ffffff;
    }
  }
  li {
    padding: 10px 0;
  }
  .mobilephone__each {
    margin: 15px 0;
  }
  .copyright {
    p {
      font-size: 12px;
    }
  }
}