//================================
// @@ ++ Pagina bestellen
//================================

.layoutcontent__bestellen {
  background: #ffffff;
  padding: 25px 15px;
  h1 {
    color: #000000;
  }


  // Opmaak tabel slachtkalender

  .view-vleeskalender {
    .views-table {
      margin-top: 25px;
      width: 100%;
      border-collapse: collapse;
      th {
        border-bottom: solid 1px;
        padding: 10px 5px;
        font-weight: bold;
      }
      td, th {
        border-left: 1px solid;
        padding: 5px 10px;
      }
      td:first-child , th:first-child{
        border-left: none;
      }
    }
  }

}