//============================================
// @@ ++ Sections
// The global layout for all the sections
//============================================

.section--homepage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/runderen.jpg") no-repeat;
  background-size: cover;
  h1 {

    color: #ffffff;
  }
}

.sectionhomepage__title__cta {
 padding-top: 50px;
}

.section--50 {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section--quality {
  color: #ffffff;
  background: url("../images/background_lozenge_36.jpg") repeat;
  .container--quality {
    background-color: $pink;
    padding: 40px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.section--aboutus {
  color: $bordeau;
  .container--aboutus {
    padding: 40px 10px;
    header {
      h2 {
        margin-bottom: 15px;
      }
      text-align: center;
      margin-bottom: 15px;
    }
  }
}

// section--corebusiness
// ======================================

.section--corebusiness {
  color: #ffffff;
  min-height: 100vh;
  background-color: $grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .corebusiness__region {
    height: 650px;
    background-color: $darkgrey;
    header {
      position:absolute;
      bottom:0;
      h4 {
        margin: 20px 0;
      }
    }
    .corebusiness__item {
      padding: 35px 15px;
      min-height: 37vh;
    }
    .corebusiness__title {
    }
    .corebusiness__img {
      overflow: hidden;
    }
  }
}