//============================================
// @@ ++ Sections
// The global layout for all the sections
//============================================

.section--homepage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000000;
  position: relative;
  z-index: 2;
  .sectionhomepage__bcg {
    background: url("../images/runderen.jpg") no-repeat;
    position: absolute;
    height: 101%;
    background-size: cover;
    z-index: 1;
    width: 100vw;
    opacity: 0.9;
  }
}

.homepage--container {
  z-index: 2;
  .homepage__logo--slogan {
    .sectionhomepage__title__cta {
      padding-top: 50px;
    }
  }
}


.section--50 {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section--quality {
  color: #ffffff;
  background: url("../images/background_lozenge_36.jpg") repeat;
  .container--quality {
    background-color: $pink;
    padding: 40px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .sectionquality__img {
      text-align: center;
    }
  }
}

.section--aboutus {
  color: $bordeau;
  .container--aboutus {
    padding: 40px 10px;
    header {
      h2 {
        margin-bottom: 15px;
      }
      text-align: center;
      margin-bottom: 15px;
    }
  }
}

// section--corebusiness
// ======================================

.section--corebusiness {
  color: #ffffff;
  min-height: 100vh;
  background-color: $grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .corebusiness__region {
    height: 650px;
    background-color: $darkgrey;
    header {
      position: absolute;
      bottom: 0;
      h4 {
        margin: 20px 0;
      }
    }
    .corebusiness__item {
      padding: 35px 15px;
      //min-height: 37vh;
    }
    .corebusiness__title {
    }
    .corebusiness__img {
      overflow: hidden;
    }
  }
}

.section--page {
  background: $grey;
  display: flex;
  margin-top: 50px;
  min-height: 93vh;
  align-items: center;
  justify-content: center;
  .sectionpage__container {
    background: $darkgrey;
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}