//============================================
// @@ ++ Sections
// The global layout for all the sections
//============================================

.section--homepage {
  height: 100vh;
  background: url("../images/runderen.jpg") no-repeat;
  background-size: cover;
  .homepage__logo--slogan {
    margin-top: 450px;
    h1 {
      color: #ffffff;
    }
  }
}

.section--50 {
  height: 50vh;
}

.section--quality {
  color: #ffffff;
  background: url("../images/background_lozenge_36.jpg") repeat;
  .container--quality {
    padding-top: 150px;
    background-color: $pink;
    height: 50vh;
  }
}

.section--aboutus {
  padding-top: 130px;
  color: $bordeau;
  text-align: center;
  overflow: hidden;
}

.section--corebusiness {
  height: 100vh;
  padding-top: 12%;
  background-color: $grey;
  .corebusiness__item {
    background-color: $darkgrey;
    padding: 15px;
    color: #ffffff;
    height: 40vh;
  }
  .corebusiness__title {

  }
  .corebusiness__img {
    overflow: hidden;
  }
}

.paragraph {
  font-size: 22px;
  line-height: 32px;
  text-align: center;
}
