//================================
// @@ ++ Werkwijze inhoudstype
// Op de pagina bestellen
//================================
// De volledige node
// gebruikt op
// page bestellen = inhoudstype werkwijze

.werkwijze--node__wrap {
  margin-top: 35px;
  h3 {
    margin-bottom: 10px;
  }
}

// De teaser deze wordt in de zijbalk gebruikt op
// page bestellen = inhoudstype werkwijze

.werkwijze--teaser__wrap {
  background: $pink;
  padding: 15px;
  color: #ffffff;
  h3 {
    margin-bottom: 10px;
  }
  .werkwijze--teaser__btn {
    text-align: center;
  }
}

