//================================
// @@ ++ Buttons
//================================

.btncta__btn {
  padding: 10px 10px 0px 10px;
  background-color: transparent;
  border: solid 1px #ffffff;
  color: #ffffff;
  border-radius: 0;
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
  text-align: center;
  transition: all 0.4s ease-in-out;
  &:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .fa-shopping-basket {
    padding: 0 20px 10px 0px;
  }
}

.btncontact__btn {
  margin-top: 20px;
  @extend .btncta__btn;
  padding: 10px;
  font-size: 1.5em;
}

.btnmobile__btn {
  @extend .btncta__btn;
}

// hover state van de buttons in de footer
// de hover state van die zelfde button op de contact pagina krijgt deze van _contact-form.scss
// alle a tag op deze form

// bovenstaande comment toch even niet omdat we de div contactregion--form een pink bcg hebben gegeven
// was grijs

.footer--main {
  .btnmobile__btn {
    a {
      &:hover {
        color: $pink;
        text-decoration: none;
      }
    }
  }
}

.contactregion--form {
  .btnmobile__btn {
    a {
      &:hover {
        color: $pink;
        text-decoration: none;
      }
    }
  }
}