//================================
// @@ ++ Globals
//================================

// dit voorkomt dat we geen rekening meer moeten houden met margins,
// padding en borders
// This ensures that all elements are always sized in this more intuitive way.
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  &.not-front {
    background: $grey;
  }
}



p {
  font-size: 16px;
  line-height: 25px;
  margin: 15px 0;
}

.paragraph {
  p {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
  }
}

.btn {
  border-radius: 0;
  margin: 0 5px;
}


// Admin toolbar

#toolbar {
  margin-top: 50px;
}

