//================================
// @@ ++ Media query's
//================================
@media only screen and (max-width: 1366px) {
  /* css code voor tablets in landscape mode*/
  /* facebook in de footer*/
  ._2p3a {
    width: 245px;
  }
}

@media only screen and (max-width: 960px) {
  /* css code voor tablets in portrait mode */
  h1 {
    font-size: 2.9em;
  }

}

@media only screen and (max-width: 767px) {
  /* css code voor smartphones in landscape mode */
}

@media only screen and (max-width: 479px) {
  /* css code voor smartphones in portrait mode */
  .section--quality {
    padding: 15px 0;
    .paragraph {
      padding: 15px 0;
    }
    .logo {
      display: none;
    }
  }
  .corebusiness__region {
    margin: 10px 0;
  }

  .section--page {
    display: block;
    margin-top: 75px;
    .layout--content {
      margin-bottom: 25px;
    }
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  .btncta__btn {
    padding: 10px;
    font-size: 1.6em;
    .fa-shopping-basket {
      padding: 0 10px 0;
    }
  }
  .footermain__item {
    margin-bottom: 25px;
  }
  .footer {
    .mobilephone__desktop {
      display: none;
    }
    .mobilephone__mobile {
      display: block;
    }
    .btnmobile__btn {
      margin-top: 20px;
      padding: 8px;
      font-size: 1.2em;
    }
  }
}
