//================================
// @@ ++ Cart
//================================

// Cart overzicht inhoud cart /cart

#uc-cart-view-form {
  table {
    margin-top: 25px;
    width: 98%;
    td {
      padding: 15px;
      text-align: left;
    }
  }
  .form-actions {
    margin-top: 10px;
  }
}

.price, .subtotal, th {
  display: none;
}

.form-type-uc-quantity {
  input[type=text] {
    padding: 5px;
  }
}

// Cart in de sidebar-first wordt enkel getoond op pagina's
// producten-kalfsvlees - producten-huisbereidingen - producten-rundsvlees

.block-uc-cart {
  background: $pink;
  padding: 15px;
  color: #ffffff;
  table {
    td {
      height: 25px;
    }
  }
  a {
    color: #ffffff;
  }
  .cart-block-item-price, .cart-block-summary-total {
    display: none;
  }
}