//===========================================================================================================
// @@ ++ Producten tabel
// Zou voor deze optie gaan, omdat het tonen van de producten in een grid (teaser node--producten.tpl.php)
// niet onmiddelijk geweldig vlees en mooie foto's
//===========================================================================================================

.view-id-producten {
  font-size: 14px;
  margin-top: 25px;
  table {
    width: 99%;
    td {
      height: 100px;
      vertical-align: middle;
      padding: 0 10px;

    }
  }
}