//================================
// @@ ++ Contact form
//================================

.form-textarea-wrapper {
  width: 100%;
}

.contactregion--form {
  color: #ffffff;
  .contactregionform__info {
    margin: 40px 0 20px;
  }
  .contactregionform__phone {
    .form__phone {
      margin-right: 10px;
    }
  }
}

@media only screen and (max-width: 479px) {
/* css code voor smartphones in portrait mode */



}